* {
    box-sizing: border-box;
}
body {
    background-color: #faf7f1;
}

html {
  height: 100%;
}

.container {
    width: 1140px;
}

.logotip-header {
    display: flex;
}

.logo-subtitle {
    font-family: 'Roboto';
    font-size: 14px;
    width: 280px;
    margin-top: 7px;
    margin-bottom: 0;
    vertical-align: bottom;
    font-weight: 500;
}

.logotip-link{
    color: #000000;
}

.logotip-link:hover {
    text-decoration: none;
    color: #8B4513;
    font-weight: 500;
    transition: 0.4s;
}

.contact {
    display: flex;
    justify-content: space-between;
}

.phone-item {
    font-family: 'Roboto';
    color: #000000;
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
}

.phone-item:hover {
    text-decoration: none;
    color: #8B4513;
    transition: 0.3s;
}

.phone {
    margin-right: 70px;
}

.address {
    margin-right: 70px;
    margin-bottom: 0;
}

.address-item:hover {
    text-decoration: none;
    color: #8B4513;
    transition: 0.3s;
}

address {
    margin-bottom: 0;
}

.address-item {
    color: #000000;
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 400;
}

.navbar {
    display: flex;
    margin: 15px 0 0 0;
    padding: 0;
}

.work-item {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 5px;
}

.name {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}